# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Paede\OneDrive - KBW Kantonsschule Büelrain Winterthur\KBW\Angewandte Mathematik\_workspace\AM-FordFulkerson\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
